---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Camper",
    company: "Campuslands",
    description:
      "Creo proyectos estáticos y dinámicos utilizando diversas tecnologías. Soy responsable de la elaboración de páginas web, la gestión de bases de datos y la creación de APIs RESTful.",
    link: "https://github.com/lumigamher",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
